---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/header';
import Footer from '../../components/footer';

---

<Layout title='VNDTeam - Успешно!' description='' noindex={true}>
    <main>
        <Header client:only="react" />

        <section class="h-screen max-lg:mt-2 flex max-lg:flex-wrap gap-8 lg:container mx-auto items-center w-full max-lg:px-4">
            <div class="w-full h-96 rounded-box bg-base-200 border-2 border-base-100 transition-colors duration-500 flex justify-center items-center">
                <div class="text-center ">
                    <h1 class="text-5xl text-primary font-bold">Успешная оплата!</h1>
                    <p class="text-2xl mt-2">Ваша оплата прошла успешно</p>
                    <a href="/" class="btn btn-primary btn-lg mt-7 text-2xl rounded-2xl">
                        На главную
                    </a>
                </div>

            </div>
        </section>
        
        <Footer inn={import.meta.env.INN} email={import.meta.env.EMAIL}/>
    </main>
</Layout>
