---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/en/header';
import { Icon } from 'astro-icon/components'
---

<Layout title="VNDTeam - creating minecraft servers">
	<main>
		<Header client:load/>
		<section class="h-screen flex container mx-auto items-center">
			<div class="w-1/2">
				<h1 class="text-7xl font-medium text-white">Everything you need for your <span class="text-primary ">server</span></h1>
				<p class="text-2xl mt-7">Just go ahead and create a server in minecraft</p>
				<button class="btn btn-primary btn-lg mt-7 text-2xl rounded-2xl">Place an order <Icon name="ic:baseline-arrow-right-alt" class='mt-1.5 text-4xl' /></button>
			</div>
			<div class="w-1/2">
				<div class="mx-auto w-[30rem]">
					<div class="p-4 bg-base-200 border-2 border-base-100 rounded-xl shadow-md hover:shadow-lg hover:scale-105 transition-all duration-500">
						<div class="flex">
							<div class="p-2 bg-secondary/10 border border-secondary rounded text-center w-min">
								<Icon name="ic:baseline-access-time" class='text-3xl text-secondary'/>
							</div>
							<p class="text-3xl ml-4 font-medium my-auto">Experience</p>
						</div>
						<p class="text-2xl mt-3">We have been developing servers for <span class="text-secondary">2</span> years</p>
					</div>
					<div class="p-4 bg-base-200 border-2 border-base-100 rounded-xl shadow-md hover:shadow-lg hover:scale-105 transition-all duration-500 mt-3">
						<div class="flex">
							<div class="p-2 bg-green-400/10 border border-green-400 rounded text-center w-min">
								<Icon name="ic:round-support-agent" class='text-3xl text-green-400'/>
							</div>
							<p class="text-3xl ml-4 font-medium my-auto">Support</p>
						</div>
						<p class="text-2xl mt-3">We are always ready to help you</p>
					</div>
					<div class="p-4 bg-base-200 border-2 border-base-100 rounded-xl shadow-md hover:shadow-lg hover:scale-105 transition-all duration-500 mt-3">
						<div class="flex">
							<div class="p-2 bg-primary/10 border border-primary rounded text-center w-min">
								<Icon name="ic:round-flash-on" class='text-3xl text-primary'/>
							</div>
							<p class="text-3xl ml-4 font-medium my-auto">Speed</p>
						</div>
						<p class="text-2xl mt-3">All orders are completed <span class="text-primary ">quickly</span> and <span class="text-primary ">efficiently</span></p>
					</div>
				</div>
			</div>
		</section>
		<section>
			
		</section>
	</main>
</Layout>