---
const { id } = Astro.params;
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/header';
import Footer from '../../components/footer';
import Product from '../../components/market/product';


---

<Layout title='VNDTeam - Продукт...' description='Описание продукта...'>
    <main>
        <Header client:only="react" />

        <Product id={id} client:load/>
        
        <Footer inn={import.meta.env.INN} email={import.meta.env.EMAIL}/>
    </main>
</Layout>
