---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header';
---

<Layout title="VNDTeam - создание серверов майнкрафт">
	<main>
		<Header client:load/>
		<section class="h-screen">

		</section>
	</main>
</Layout>