---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="en" class="bg-base-300 transition-colors duration-500" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="/engpage.js" defer></script>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
