---
interface Props {
	title: string;
	description: string;
	noindex?: boolean;
}

const { title, description, noindex = false } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="ru" class="bg-base-300 transition-colors duration-500" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-0.xml" />

		{noindex && <meta name="robots" content="noindex" />}

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta property="og:image" content="/minecraft1x1.jpeg">
		<meta property="og:site_name" content="VNDteam">


		<meta name="generator" content={Astro.generator} />
		<script src="/engpage.js" defer></script>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
